body{
    margin: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.wrapper{
    
    height: 100vh;
    width: 70%;
    background-color: #777574;
}

.section-top{
    width: fill;
    height: 750px;
    background-color: blue;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.header-top{
    grid-row: 1/2;
    width: 100%;
    height: 750px;
    background-color:#C7DDEA;
    

    

}
.header-top > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: start;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    
  
}
.learn-more > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: start;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    
  
}


.section-top > .box{
    width: 100%;
    height: 100%;
    
   
    
}

.learn-more{
    grid-column-start: 2;
   
    background-color: #F17949;
}

.join-today{
    grid-column-start: 2;
    grid-row: 2;
    background-color: #FAB131;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

h1{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38pt;
    margin: 0;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1em;
    font-size: 14pt;
    color: rgba(46, 49, 49, 1);
    margin-top: -35%;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 10%;
    
    
    
}
h2 > em{
    margin: 0;
    color: white;
    font-style: normal;
    
}

button.join{
    justify-self: center;
    width: 10vw;
    min-width: 120px;
    height: 50px;
    border-radius: 9999px;
    background-color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: small;
    margin-left: 10%;
    margin-top: -20%;
    position: relative;
}

.imgbox{
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: inherit;
    background-image: url(/img/family1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
    transform: scale(0.7);
    
}

.subtext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    color: rgba(46, 49, 49, 0.6);
}

nav {
    height: 75px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    
    
}

nav > a{
    width: 25%;
    height: 45px;
    text-align: center;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s ease-in-out;
    padding-top: 30px;
    
}

nav > a:hover{
    background-color:rgba(0, 0, 0, 0.2);
}
nav > a:nth-of-type(1){
    color: rgba(0, 0, 0, 1);
}

.main {
    width: 100%;
    height: 1000px;
    background-color:#A9A19E;
    
}

.grid{
    padding-top: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid > p{
    padding-left: 10%;
    padding-right: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    font-size: 14pt;
    color: rgba(46, 49, 49, 1);
    grid-row-start: 1;
    grid-column-start: 2;

}

.grid > h1{
    margin-top: 0;
    font-size: 36pt;
    color: white;
    
    
}
.grid>button.join{
    position: static;
}

footer{
width: 100%;
height: 750px;
background-color: #FAB131;

}
.section-bottom{
    background-color: white;
    width: 100%;
    height: 750px;
}
.endpage{
    width: 100%;
    height: 75px;
background-color: #A9A19E;
}